<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form id="form_home" action="{%  url 'cnab_tratada' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label>Arquivo CNAB:</label>
        <input type="file" id="arquivoCnab" name="arquivoCnab">
        <br>
        <br>

        <input type="submit" value="Enviar" disabled="true" id="input_submit">
    </form>
    <script>
        const input_arquivo = document.getElementById("arquivoCnab")
        
        input_arquivo.addEventListener("change", e => {
            length = e.target.files.length

            if (length >= 1) {
                document.getElementById("input_submit").removeAttribute("disabled")
            }
        })

    </script>
</body>
</html>