<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transações</title>
</head>
<body>
    <div class="divTable">
        <table>
            <th>Tipo</th>
            <th>Data</th>
            <th>Valor</th>
            <th>CPF</th>
            <th>Cartão</th>
            <th>Hora</th>
            <th>Dono da loja</th>
            <th>Nome da loja</th>
        </table>
        <h1>Saldo total: R$ </h1>
    </div>
</body>
<!-- <script src="../scripts/script_transacoes/index.js"></script> -->
</html>